apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongodb
          image: public.ecr.aws/bitnami/mongodb:latest
          ports:
            - containerPort: 27017
          env:
            - name: MONGODB_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGODB_ROOT_USER
            - name: MONGODB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: MONGODB_ROOT_PASSWORD
            - name: MONGODB_DATABASE
              value: solar_system_info
          volumeMounts:
            - name: mongo-data
              mountPath: /bitnami/mongodb
      volumes:
        - name: mongo-data
          persistentVolumeClaim:
            claimName: mongo-pvc
